---
import { Image } from "astro:assets";
import Date from "@/components/blog/Date.astro";
import type { CollectionEntry } from "astro:content";
import Tag from "./Tag.astro";
type Props = CollectionEntry<"blog">["data"] & { slug: string };
const { image, title, author, pubDate, tags, slug } = Astro.props;
---

<li
	class="rounded-xl border border-extra-soft-white text-soft-white transition-colors duration-200 hover:bg-soft-light"
>
	<div transition:name={title}>
		<article>
			<a href={`/blog/${slug}`}>
				<Image
					src={image}
					alt=""
					width={1020}
					height={520}
					class="aspect-[16/5] rounded-t-xl object-cover"
				/>
				<div class="w-full">
					<div class="flex flex-col px-12 py-4">
						<h4 class="text-3xl font-bold">
							{title}
						</h4>
						<h5 class="text-md font-thin">
							{author}
						</h5>
						<div class="flex gap-2">
							{tags.map((tag) => <Tag>{tag}</Tag>)}
						</div>
						<Date pubDate={pubDate} />
					</div>
				</div>
			</a>
		</article>
	</div>
</li>
